.search-input{
    width: 50%;
    float: right;
    padding-right: 3rem;
}

.main-Heading{
    // color: #0caeaa;
}

.search-block{
    position: relative;

    .fa-search{
        position: absolute;
        right: 29px;
        top: 7px;
        font-size: 23px;
    }
}

.single-user{
    padding: 5px 10px;
    margin: 15px 0px;
    
}

