.search-input{
    width: 50%;
    float: right;
    padding-right: 3rem;
}

.main-Heading{
    // color: #0caeaa;
}

.search-block{
    position: relative;

    .fa-search{
        position: absolute;
        right: 29px;
        top: 7px;
        font-size: 23px;
    }
}

.single-user{
    padding: 5px 10px;
    margin: 15px 0px;
}

.pagination-block{
    display: flex;
    float: right;

    .fa-angle-left, .fa-angle-right, .page-num{
        font-size: 20px;
        font-weight: 600;
        background-color: #efefef;
        padding: 10px 15px;
        margin: 2px;
        cursor: pointer;
    }

    .fa-angle-left:hover, .fa-angle-right:hover{
        background-color: #d4d4d4;
    }

    .page-num{
        font-size: 18px;
    }

}

.users-list-container{
    a{
        text-decoration: none !important;
        color: #18524e !important;
    }
}

.no-result-img-block img{
    width: 60%;
}

.loading-spin{
    width: 20%;
}

.searching-wrd{
    color: #1a7adb;
    font-weight: 500;
    font-size: 20px;
}

.welcome-note{
    margin-top: 150px;
}

.users-list-container{
    min-height: 509px;
}